<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" defer></script>
    <title>Quiz</title>
  </head>
  <body>
    <header>
      <h1>Chi vuol essere geografo?</h1>
      <p>Metti alla prova la tua conoscenza!</p>
    </header>

    <nav>
      <a th:href="@{/}">Home</a>
      <a th:href="@{/training}">Training</a>
      <div class="dropdown">
        <a href="#" class="dropdown-toggle">Quiz</a>
        <div class="dropdown-content">
          <a th:href="@{/start?tipo=Quiz}">Capitali</a>
          <a th:href="@{/start?tipo=Bandiere}">Bandiere</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#" class="dropdown-toggle">Classifica</a>
        <div class="dropdown-content">
          <a th:href="@{/leaderboard}">Capitali</a>
          <a th:href="@{/leaderboard_bandiera}">Bandiere</a>
        </div>
      </div>
      <a th:href="@{/credits}">Credits</a>
    </nav>
    <div class="content">
    <div class="hero">
      <h1>Benvenuto!</h1>
      <p>Scopri quiz divertenti e stimolanti su tantissimi argomenti.</p>
      <button onclick="openModal()">Inizia Ora</button>
    </div>

    <div id="quizModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Scegli la modalità di quiz</h2>
        <a th:href="@{/start?tipo=Bandiere}" class="quiz-option">Riconosci la bandiera</a>
        <a th:href="@{/start?tipo=Quiz}" class="quiz-option">Indovina la capitale</a>
      </div>
    </div>
    </div>
    <footer></footer>
  </body>
</html>
